<mat-form-field>
  <mat-select [value]="null" (selectionChange)="handleSelectionChange($event.value)" [placeholder]="placeholder">
    <mat-option *ngFor="let item of itemsToChoose" [value]="item">
      {{item | displayDescriptionPipe : this.displayNameField}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-chip-list aria-label="Selected devices">
  <mat-chip *ngFor="let item of selectedItems">
    {{item | displayDescriptionPipe : this.displayNameField}}
    <mat-icon matChipRemove (click)="unselectItem(item)">cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
