<form [formGroup]="form" (ngSubmit)="submitForm()">
  <app-select-with-chips
    [itemsToChoose]="devices"
    [placeholder]="'Choose device'"
    [displayNameField]="'description'"
    (onItemsChange)="handleDevicesChange($event)">
  </app-select-with-chips>

  <app-select-with-chips
    [itemsToChoose]="countries"
    [displayNameField]="'name'"
    [placeholder]="'Choose country'"
    (onItemsChange)="handleCountriesChange($event)">
  </app-select-with-chips>

  <button id="search_button" type="submit" mat-raised-button color="primary"> Search
    <mat-icon>search</mat-icon>
  </button>
</form>
