<mat-card class="filter-container">
  <h1>Tester matching tool</h1>
  <app-tester-match-form
    (onFormSubmit)="handleFormSubmit($event)"
    [countries]="countryService.connect() | async"
    [devices]="deviceService.connect() | async">
  </app-tester-match-form>
  <mat-spinner *ngIf="(countryService.loading$ | async) || (deviceService.loading$ | async)"></mat-spinner>
</mat-card>

<div class="loading-indicator">
  <mat-spinner *ngIf="testerMatchingService.loading$ | async "></mat-spinner>
</div>

<table mat-table [dataSource]="testerMatchingService.connect() | async | sortByExperienceDescPipe"
       class="mat-elevation-z8">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Tester first name</th>
    <td mat-cell *matCellDef="let element"> {{element.tester.firstName}}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Tester last name</th>
    <td mat-cell *matCellDef="let element"> {{element.tester.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="device">
    <th mat-header-cell *matHeaderCellDef> Device</th>
    <td mat-cell *matCellDef="let element"> {{element.device.description}}</td>
  </ng-container>

  <ng-container matColumnDef="bugCount">
    <th mat-header-cell *matHeaderCellDef> Bugs filed</th>
    <td mat-cell *matCellDef="let element"> {{element.bugCount}}</td>
  </ng-container>

  <ng-container matColumnDef="experience">
    <th mat-header-cell *matHeaderCellDef> Tester's experience</th>
    <td mat-cell *matCellDef="let element"> {{element.experience}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
