table {
  width: 100%;
  margin-bottom: 2rem;
}

th, td {
  width: 20%;
}

th.mat-header-cell {
  text-align: center;
}

td {
  text-align: center;
}

.filter-container {
  display: flex;
  flex-direction: column;;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.loading-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin-top: 20px;
}
